# Common gitignore
.cproject
.project
.settings
.directory
Makefile.in
Makefile
BROWSE
CMakeCache.txt
CMakeFiles/
cmake_install.cmake
install_manifest.txt
*~
*.pc
*.o
*.o.d
*.lo
*.loT
*.la
*.so
*.orig
*.odt
*.fodt
*.test
*.example
*.a
*.apk
*.ap_
*.class
*.classpath
*.dex
*.gcno
*.gcda
*.gcov
.deps
.libs
*.swp
*.creator
*.creator.user
/docs/generated/*
/build/tizen/doc
/build/tizen/.cov
/build/desktop
/build/tizen/*.ninja
/build/tizen/.ninja*
/packaging/home*
compile_commands.json
.clangd
/debugfiles.list
/debuglinks.list
/debugsources.list
.clangd/
*.vscode/
*.cache/
# dali-csharp-binder only
aclocal.m4
compile
config.guess
config.h.in
config.sub
configure
dali-csharp-binder/Makefile.in
depcomp
install-sh
ltmain.sh
missing
autom4te.cache/
config.h
config.log
config.status
dali2-csharp-binder.pc
dali2-csharp-binder/.deps/
dali2-csharp-binder/.libs/
dali2-csharp-binder/Makefile
libtool
stamp-h1
build/tizen/m4/
build/tizen/.deps/
build/tizen/.libs/
build/tizen/build/
build/tizen/cmake_install.cmake
build/tizen/dali-scene3d/cmake_install.cmake
build/tizen/install_manifest.txt
build/tizen/libdali2-csharp-binder.so*
build/tizen/dali-scene3d/libdali2-csharp-binder-scene3d.so*
