[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/agnelovaz
[access "refs/for/refs/*"]
	read = group user/agnelovaz
	push = group user/agnelovaz
	label-Code-Review = -2..+2 group user/agnelovaz
	label-Verified = -1..+1 group user/agnelovaz
	rebase = group user/agnelovaz
	removeReviewer = group user/agnelovaz
	submit = group user/agnelovaz
[access "refs/heads/*"]
	read = group user/agnelovaz
	create = group user/agnelovaz
	push = +force group user/agnelovaz
	pushMerge = group user/agnelovaz
[access "refs/tags/*"]
	push = group user/agnelovaz
	push = +force group user/agnelovaz
