[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/agnelo vaz (agnelovaz)
[access "refs/for/refs/*"]
	read = group user/agnelo vaz (agnelovaz)
	push = group user/agnelo vaz (agnelovaz)
	label-Code-Review = -2..+2 group user/agnelo vaz (agnelovaz)
	label-Verified = -1..+1 group user/agnelo vaz (agnelovaz)
	rebase = group user/agnelo vaz (agnelovaz)
	removeReviewer = group user/agnelo vaz (agnelovaz)
	submit = group user/agnelo vaz (agnelovaz)
[access "refs/heads/*"]
	read = group user/agnelo vaz (agnelovaz)
	create = group user/agnelo vaz (agnelovaz)
	push = +force group user/agnelo vaz (agnelovaz)
	pushMerge = group user/agnelo vaz (agnelovaz)
[access "refs/tags/*"]
	push = group user/agnelo vaz (agnelovaz)
	push = +force group user/agnelo vaz (agnelovaz)
